body {
    margin: 0px;
    border: 0px;
}

ul {
    list-style: none;
}

button {
    color: darkblue;
    background: lightblue;
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-top: 2px solid#DAD5CD;
    border-left: 2px solid #DAD5CD;
    border-right: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin: 2px;
    outline: none;
}

.color {
    background-color: lightsalmon;
}

#buttonDisplay {
    width: 342px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
    border-top: 4px solid#DAD5CD;
    border-left: 4px solid #DAD5CD;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
}

button:hover {
    background-color: lightgreen;
}

